<%- include("../partials/header") %>
<!-- <div class="text-center">
    <img src="/static/images/401.png" style="width: inherit;" alt="">
</div> -->
<div class="text-center">
  <img
    src="/static/images/500.png"
    class="rounded"
    alt="Not Authorized"
    style="height: 88vh"
  />
</div>
